@import "tailwindcss";
@import "@pruthvik007/components/theme.css";

@source "../node_modules/@pruthvik007/components/dist";

@custom-variant dark (&:is(.dark *));

/* Horizontal scrollable container */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
